@model MVCPartialView.Models.Product

<div class="card m-2 p-2 border">
    <h4>@Model.Name</h4>
    <p>Prijs: @Model.Price ₺</p>
    <button class="btn btn-primary">Voeg toe aan winkelwagen</button>
</div>